<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Personal Express</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>


  <div>
  <h1>Find Your Pokemon</h1> 
    
  <input type="text">
  <button id="test" value="heads" type="button" name="button">Search Pokemon!</button>



  <p id="result"></p>

 </div>
 
<script src="main.js"></script>
</body>
</html>
