body {
  background: lightblue;
}

body div{
  width: 40%;
  height: 250px;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}


h1{
  margin-top: 10px;
}

#result {
  font-size: 34px;
}

img {
  width: 35%;
  height: 198px;
}